build==1.2.1; python_version >= '3.8'
certifi==2024.7.4; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
colorama==0.4.6; os_name == 'nt'
idna==3.7; python_version >= '3.5'
packaging==24.1; python_version >= '3.8'
pyproject-hooks==1.1.0; python_version >= '3.7'
python-decouple==3.8
requests==2.32.3; python_version >= '3.8'
urllib3==2.2.2; python_version >= '3.8'
